<app-formulaire [ajouter]="false" *ngIf="modifier" [modifier]="true" [newEtudiant]="etudiant" [etudiants]="etudiants"></app-formulaire>
<app-formulaire *ngIf="ajouter" (etudiantChange)="etudiantPost($event)" [ajouter]="true" [modifier]="false"></app-formulaire>


<table border="1">
  <tr>
    <th>Numero</th>
    <th>Prenom</th>
    <th>Nom</th>
    <th>Classe</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let etudiant of etudiants">
    <td>{{etudiant.numero}}</td>
    <td>{{etudiant.prenom}}</td>
    <td>{{etudiant.nom}}</td>
    <td>{{etudiant.classe}}</td>
    <td><button (click)="supprimer(etudiant.numero)">supprimer</button>
      <button (click)="modifierEt(etudiant)">modifier</button>
    </td>

  </tr>
</table>



